<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include("../common/header")%>
  </head>

  <body>
    <%- include("../common/navbar-custom") %>

    <div class="event-container">
      <h3 class="year">Riding Reservation</h3>
      <!--Have to work solution for years-->
      <% details.forEach(function(item){ %>
      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="month">
              <%= item.days.toLocaleString('default', { month: 'long' })%>
            </div>
            <div class="date"><%= item.days.getDate() + 1%></div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">Horse Riding Lesson</h3>

          <div class="event-timing">
            <i class="far fa-clock fa-2x"></i>
            <p>Start: <%= item.startTime %></p>
            <p>End: <%= item.endTime %></p>
          </div>

          <div class="event-description">
            <p>Lesson For: <%= item.firstname%> <%= item.lastname %></p>
            <p>Contact: <%= item.phone%></p>
            <p>Number of People: <%= item.numPeople %></p>
            <p>Duration: <%= item.duration%> hour</p>
            <p>Payment Amount: $<%= item.paymentAmount %></p>
            <p>Payment Recived: <%= item.paymentStatus %></p>
            <p>Payment Id: <%= item.paymentId %></p>
           <% if(item.days > new Date()) {%>
            <button id=<%= item._id %> class="w3-button w3-blue"
              onclick="cancelRes(this.id, 'admin', 'Riding','<%= item.paymentAmount %>', '<%= item.paymentId %>','<%= item.userId %>')">Cancel
            </button>
          <% } %>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
