<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <%- include("../common/header")%>
</head>

<body>
    <%- include("../common/navbar-custom") %>

    <div class="event-container">
        <h3 class="year">Feedbacks/Inquires</h3>
        <!--Have to work solution for years-->
        <% details.forEach(function(item){ %>
        <div class="event">
            <div class="event-right">
                <div class="event-description">
                    <p>Name: <%= item.name%></p>
                    <p>Contact: <%= item.email%></p>
                    <p>Subject: <%= item.subject %></p>
                    <p>Message: <%= item.message%></p>
                    <p><button class="w3-button w3-black" type="submit">
                            <i class="fa fa-paper-plane"></i> REPLY
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <% }) %>

    </div>

</body>

</html>