<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include("../common/header")%>
    <style>
      .btnContainer {
        display: block ruby;
        padding-bottom: 10px;
        padding-top: 10px;
      }

      .messagebox {
        resize: vertical;
        height: 150px;
        width: 300px;
      }

      .event .event-right-admin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 24px;
      }

      .event .event-left-admin {
      background: #222;
      display: flex;
      min-width: 120px;
      align-items: center;
      justify-content: center;
      color: #eee;
      padding: 8px 48px;
      font-weight: bold;
      border-radius: 8px 0 0 8px;
      }

    </style>
  </head>

  <body>
    <%- include("../common/navbar-custom") %>

    <div class="event-container">
      <h3 class="year">Feedbacks/Inquires</h3>
      <!--Have to work solution for years-->
        <% details.forEach(function(item){ %>
            <% if (item.subject != 'Cancelation Request -- Auto Generated') { %>
                <div class="event">
                    <div class="event-left-admin">
                        <div class="event-description">
                            <p>Name: <%= item.name%></p>
                            <p>Contact: <%= item.email%></p>
                            <p>Subject: <%= item.subject %></p>
                            <p>Message: <%= item.message%></p>
                        </div>
                    </div>

                    <div class="event-right-admin">
                        <textarea class="messagebox" id='<%= item._id%>' name="messageText" placeholder="Type Message Here">Hello <%= item.name%>,</textarea>
                        <div class="btnContainer">
                            <button
                            class="w3-button w3-black"
                            type="submit"
                            onclick="reply('<%= item.email%>', '<%= item.name%>','<%= item.subject%>', '<%= item.message %>', '<%= item._id%>')">
                            <i class="fa fa-paper-plane"></i> REPLY
                            </button>
                            <form action="/feedback/delete/<%= item._id %>" method="POST">
                                <button class="w3-button w3-black" type="submit">
                                    <i class="fa fa-trash-alt"></i> DELETE
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            <% } %>
        <% }) %>
        <% details.forEach(function(item){ %>
            <% if (item.subject === 'Cancelation Request -- Auto Generated') { %>
                <div class="event">
                    <div class="event-left-admin">
                        <div class="event-description">
                            <p>Name: <%= item.name%></p>
                            <p>Contact: <%= item.email%></p>
                            <p>Subject: <%= item.subject %></p>
                            <p>Message: <%= item.message%></p>
                        </div>
                    </div>
                </div>
            <% } %>
        <% }) %>
    </div>

    <script>
      function reply(email, name, subject, message, id) {
            const value = document.getElementById(id).value;
            console.log(value);
            console.log(email);
            console.log(name);
            console.log(message);
            fetch("/api/reply", {
                method: "POST",
                headers:{
                    Accept: "application/json",
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    email: email,
                    name: name,
                    subject: subject,
                    message: message,
                    id: id,
                    input: value
                }),
            }).catch((err) => {
                alert(err);
            }).then((response) => {
                if(!response.ok){
                    console.log("Response:", response);
                    return response.json().then((errorInfo) => Promise.reject(errorInfo));
                }
                console.log("Response:", response);
                return response.json();
            }).then((data) => {
                alert("Message Sent Successfully!");
                location.href = '/secret/feedback';
            });
        }
    </script>
  </body>
</html>
