<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <%- include("../common/header")%>
    <style>
        .adminMain {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        grid-gap: 5rem;
        padding: 5rem;
        background: #f5f7fa;
        }
       
        .adminMain .admincard {
        --background: #ffffff;
        --text: black;
        position: relative;
        height: 12rem;
        box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.05);
        }

        .admincard .admincontainer {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        background: var(--background);
        color: var(--text);
        }
        .admincontainer{
            text-align: center;
        }
    </style>
</head>

<body>
    <%- include("../common/navbar-custom") %>
    <%function isEmptyObject(obj) {
        for (var key in obj) {
        if (Object.prototype.hasOwnProperty.call(obj, key)) {
        return false;
        }
        }
        return true;
    }%>
    <h1><%= title %></h1>
    <div class="adminMain">
        <h1 style="vertical-align: center;"><i class="fas fa-calendar-day"></i> Todays Outlook</h1>
    <div class="admincard" style="--background: #3c3b3d; --text: white">
        <div class="admincontainer">
            <h3><i class="fas fa-horse"></i> Riding Lessons</h3>
            <h4><span class="iconify" data-icon="tabler:tallymarks" data-inline="false" style="content: url('https://api.iconify.design/tabler:tallymarks.svg?color=white&height=24');
vertical-align: -0.125em;"></span><%= ridingTodayNum %></h4>
            <% if (isEmptyObject(dailyTEarning)) { %>
            <h4><i class="fas fa-dollar-sign"></i> 0</h4>
            <% } else {%>
            <h4><i class="fas fa-dollar-sign"></i> <%= dailyTEarning[0].total %></h4>
            <% } %>
        </div>
    </div>
    <div class="admincard" style="--background: #8d6dad; --text: white">
        <div class="admincontainer">
            <h3><i class="fas fa-hat-cowboy"></i> Horse Training</h3>
            <h4><span class="iconify" data-icon="tabler:tallymarks" data-inline="false" style="content: url('https://api.iconify.design/tabler:tallymarks.svg?color=white&height=24');
vertical-align: -0.125em;"></span><%= trainingTodayNum %></h4>
            <% if (isEmptyObject(dailyTEarning)) { %>
            <h4><i class="fas fa-dollar-sign"></i> 0</h4>
            <% } else {%>
            <h4><i class="fas fa-dollar-sign"></i> <%= dailyTEarning[0].total %></h4>
            <% } %>
        </div>
    </div>
    <div class="admincard" style="--background: #ec87c0; --text: white">
        <div class="admincontainer">
            <h3><i class="fas fa-horse-head"></i> Horse CheckIns</h3>
            <h4><span class="iconify" data-icon="tabler:tallymarks" data-inline="false" style="content: url('https://api.iconify.design/tabler:tallymarks.svg?color=white&height=24');
vertical-align: -0.125em;"></span><%= lodgingTodayNum %></h4>
            <% if (isEmptyObject(dailyLEarning)) { %>
            <h4><i class="fas fa-dollar-sign"></i> 0</h4>
            <% } else {%>
            <h4><i class="fas fa-dollar-sign"></i> <%= dailyLEarning[0].total %></h4>
            <% } %>
        </div>
    </div>
    </div>

    <div class="adminMain">
         <h1 style="vertical-align: center;"><i class="fas fa-calendar-week"></i> Next Weeks Outlook</h1>
         <div class="admincard" style="--background: #3c3b3d; --text: white">
             <div class="admincontainer">
                 <h3><i class="fas fa-horse"></i> Riding Lessons</h3>
                 <h4><span class="iconify" data-icon="tabler:tallymarks" data-inline="false" style="content: url('https://api.iconify.design/tabler:tallymarks.svg?color=white&height=24');
vertical-align: -0.125em;"></span> <%= ridingWeekNum %>
                 </h4>
                 <% if (isEmptyObject(ridingEarning)) { %>
                  <h4><i class="fas fa-dollar-sign"></i> 0</h4>
                 <% } else {%>
                 <h4><i class="fas fa-dollar-sign"></i> <%= ridingEarning[0].total %></h4>
                 <% } %>
             </div>
         </div>
         <div class="admincard" style="--background: #8d6dad; --text: white">
             <div class="admincontainer">
                 <h3><i class="fas fa-hat-cowboy"></i> Horse Training</h3>
                 <h4><span class="iconify" data-icon="tabler:tallymarks" data-inline="false" style="content: url('https://api.iconify.design/tabler:tallymarks.svg?color=white&height=24');
vertical-align: -0.125em;"></span><%= trainingWeekNum %></h4>
                <% if (isEmptyObject(trainingEarning)) { %>
                 <h4><i class="fas fa-dollar-sign"></i> 0</h4>
                <% } else {%>
                 <h4><i class="fas fa-dollar-sign"></i> <%= trainingEarning[0].total %></h4>
                 <%}%>
             </div>
         </div>
         <div class="admincard" style="--background: #ec87c0; --text: white">
             <div class="admincontainer">
                 <h3><i class="fas fa-horse-head"></i> Horse CheckIns</h3>
                 <h4><span class="iconify" data-icon="tabler:tallymarks" data-inline="false" style="content: url('https://api.iconify.design/tabler:tallymarks.svg?color=white&height=24');
vertical-align: -0.125em;"></span><%= lodgingWeekNum %></h4>
                 <% if (isEmptyObject(lodgingEarning)) { %>
                 <h4><i class="fas fa-dollar-sign"></i> 0</h4>
                 <% }else{ %>
                 <h4><i class="fas fa-dollar-sign"></i> <%= lodgingEarning[0].total %></h4>
                 <%}%>
             </div>
         </div>
     </div>

     <!--
     <div class="adminMain">
         <h1 style="vertical-align: center;">Next Months Outlook</h1>
         <div class="admincard" style="--background: #3c3b3d; --text: white">
             <div class="admincontainer">
                 <h3>Riding Lessons</h3>
                 <h4><%= //ridingMonthNum %></h4>
             </div>
         </div>
         <div class="admincard" style="--background: #8d6dad; --text: white">
             <div class="admincontainer">
                 <h3>Horse Training</h3>
                 <h4><%= //trainingMonthNum %></h4>
             </div>
         </div>
         <div class="admincard" style="--background: #ec87c0; --text: white">
             <div class="admincontainer">
                 <h3>Horse CheckIns</h3>
                 <h4><%= //lodgingMonthNum %></h4>
             </div>
         </div>
     </div> -->

</body>

</html>