<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <%- include("../common/header")%>
    <style>
        .adminMain {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        grid-gap: 5rem;
        padding: 5rem;
        background: #f5f7fa;
        }
       
        .adminMain .admincard {
        --background: #ffffff;
        --text: black;
        position: relative;
        height: 12rem;
        box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.05);
        }

        .admincard .admincontainer {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        background: var(--background);
        color: var(--text);
        }
        .admincontainer{
            text-align: center;
        }
    </style>
</head>

<body>
    <%- include("../common/navbar-custom") %>
    <h1><%= title %></h1>
    <div class="adminMain">
        <h1 style="vertical-align: center;">Todays Outlook</h1>
    <div class="admincard" style="--background: #3c3b3d; --text: white">
        <div class="admincontainer">
            <h3>Riding Lessons</h3> 
            <h4><%= ridingTodayNum %></h4>
        </div>
    </div>
    <div class="admincard" style="--background: #8d6dad; --text: white">
        <div class="admincontainer">
            <h3>Horse Training</h3>
            <h4><%= trainingTodayNum %></h4>
        </div>
    </div>
    <div class="admincard" style="--background: #ec87c0; --text: white">
        <div class="admincontainer">
            <h3>Horse CheckIns</h3>
            <h4><%= lodgingTodayNum %></h4>
        </div>
    </div>
    </div>

    <div class="adminMain">
         <h1 style="vertical-align: center;">Next Weeks Outlook</h1>
         <div class="admincard" style="--background: #3c3b3d; --text: white">
             <div class="admincontainer">
                 <h3>Riding Lessons</h3>
                 <h4><%= ridingWeekNum %></h4>
             </div>
         </div>
         <div class="admincard" style="--background: #8d6dad; --text: white">
             <div class="admincontainer">
                 <h3>Horse Training</h3>
                 <h4><%= trainingWeekNum %></h4>
             </div>
         </div>
         <div class="admincard" style="--background: #ec87c0; --text: white">
             <div class="admincontainer">
                 <h3>Horse CheckIns</h3>
                 <h4><%= lodgingWeekNum %></h4>
             </div>
         </div>
     </div>

     <!--
     <div class="adminMain">
         <h1 style="vertical-align: center;">Next Months Outlook</h1>
         <div class="admincard" style="--background: #3c3b3d; --text: white">
             <div class="admincontainer">
                 <h3>Riding Lessons</h3>
                 <h4><%= //ridingMonthNum %></h4>
             </div>
         </div>
         <div class="admincard" style="--background: #8d6dad; --text: white">
             <div class="admincontainer">
                 <h3>Horse Training</h3>
                 <h4><%= //trainingMonthNum %></h4>
             </div>
         </div>
         <div class="admincard" style="--background: #ec87c0; --text: white">
             <div class="admincontainer">
                 <h3>Horse CheckIns</h3>
                 <h4><%= //lodgingMonthNum %></h4>
             </div>
         </div>
     </div> -->

</body>

</html>