<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include("../common/header")%>
  </head>
  <body>
    <%- include("../common/navbar-customer") %>
    <h1 style="text-align: center;">Your Bookings <%= title %></h1>
<!--
    <% if(details!=null) { %>
      <table class="showcase-form card" id="bookings">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Number of People </th>
          <th>Date </th>
          <th>Duration</th>
        </tr>
        <% details.forEach(function(item){ %>
        <tr>
          <td><%= item.firstname%></td>
          <td><%= item.lastname %></td>
          <td><%= item.phone%></td>
          <td><%= item.numPeople %></td>
          <td><%= item.days.toDateString()%></td>
          <td><%= item.duration%>Hr</td>
  
        </tr>
        <% }) %>
      </table>
    <% } %>
-->
    
    <div class="event-container">
      <h3 class="year">2021</h3> <!--Have to work solution for years-->
    <% details.forEach(function(item){ %>
      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="month"><%= item.days.toLocaleString('default', { month: 'long' })%></div>
            <div class="date"><%= item.days.getDate() + 1%></div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">Horse Riding Lesson</h3>

          <div class="event-timing">
            <i class="far fa-clock fa-2x"></i> 
            <p>Start: <%= item.startTime %></p>
            <p>End: <%= item.endTime %></p>
          </div>

          <div class="event-description">
            
              <p>Lesson For: <%= item.firstname%> <%= item.lastname %></p>
              <p>Contact: <%= item.phone%></p>
              <p>Number of People: <%= item.numPeople %></p>
              <p>Duration: <%= item.duration%> hour</p>
           
          </div>
        </div>
      </div>
      <% }) %>

    </div>

  </body>
</html>