<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <%- include("../common/header")%>
</head>

<body>
    <%- include("../common/navbar-customer") %>
    <h1 style="text-align: center;"><%= title %> | Horses</h1>

    <div class="event-container">
        <!--Have to work solution for years-->
        <% lodgingDet.forEach(function(item){ %>
        <div class="event">
            <div class="event-left">
                <div class="event-date">
                    <div>Check In Date</div>
                    <div class="month"><%= item.startDay.toLocaleString('default', { month: 'long' })%></div>
                    <div class="date"><%= item.startDay.getDate()%></div>
                </div>
            </div>

            <div class="event-right">
                <h3 class="event-title">Horse Lodging Reservation</h3>

                <div class="event-timing">
                    <i class="far fa-clock fa-2x"></i>
                    <p style="font-weight: bold;">
                        CheckIn: <%= item.startDay.toLocaleString('default', { month: 'long' })%>
                        <%= item.startDay.getDate()%>
                    </p>
                    <p style="font-weight: bold;">
                        CheckOut: <%= item.endDay.toLocaleString('default', { month: 'long' })%>
                        <%= item.endDay.getDate()%></p>
                </div>

                <div class="event-description">

                    <p>Lesson For: <%= item.firstname%> <%= item.lastname %></p>
                    <p>Contact: <%= item.phone%></p>
                    <p>Horse Name: <%= item.horseName %></p>
                    <p>Horse Type: <%= item.horseType %></p>
                    <p>Duration: <%= item.duration%> Months</p>
                    <p>Payment Amount: $<%= item.paymentAmount %></p>
                    <p>Payment Recived: <%= item.paymentStatus %></p>
                    <p>Payment Id: <%= item.paymentId %></p>
                    <% if(item.startDay > new Date()) {%>
                    <button id=<%= item._id %>
                        onclick="cancelRes(this.id, '<%= item.paymentAmount %>', '<%= item.paymentId %>')">Cancel
                    </button>
                    <% } %>
                </div>
            </div>
        </div>
        <% }) %>

    </div>

    <div class="event-container">
        <h3 class="year">Training Reservation</h3>
        <!--Have to work solution for years-->
        <% trainDet.forEach(function(item){ %>
        <div class="event">
            <div class="event-left">
                <div class="event-date">
                    <div class="month"><%= item.days.toLocaleString('default', { month: 'long' })%></div>
                    <div class="date"><%= item.days.getDate() + 1%></div>
                </div>
            </div>

            <div class="event-right">
                <h3 class="event-title">Horse Training</h3>

                <div class="event-timing">
                    <i class="far fa-clock fa-2x"></i>
                    <p>Start: <%= item.startTime %></p>
                    <p>End: <%= item.endTime %></p>
                </div>

                <div class="event-description">

                    <p>Lesson For: <%= item.firstname%> <%= item.lastname %></p>
                    <p>Contact: <%= item.phone%></p>
                    <p>Horse Name: <%= item.horseName %></p>
                    <p>Duration: <%= item.duration%> hour</p>
                    <p>Payment Amount: $<%= item.paymentAmount %></p>
                    <p>Payment Recived: <%= item.paymentStatus %></p>
                    <p>Payment Id: <%= item.paymentId %></p>
                    <% if(item.days > new Date()) {%>
                    <button id=<%= item._id %>
                        onclick="cancelRes(this.id, '<%= item.paymentAmount %>', '<%= item.paymentId %>')">Cancel
                    </button>
                    <% } %>
                </div>
            </div>
        </div>
        <% }) %>

    </div>

</body>

</html>