<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <%- include("../common/header")%>
</head>

<body>
    <%- include("../common/navbar-customer") %>
    <h1 style="text-align: center;"><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>test</p>
</body>

</html>